

/* TODO: remove sec-info */


/*Verde Oscuro #138a4c;*/
/*Verde claro #82B440*/

.btn-seemore:hover {

	text-decoration: none !important;

}


.top-text{

	text-align: center;
}

.top-text h2{
	font-size: 2.2em;
	text-transform: none;
}
.top-text p{
	font-size: 1.8em;


}

.pdf-files  {
	position: relative;
	overflow: hidden;
	margin-bottom: 3%;
	margin-top: 3%;
}

.pdf-files h4{
	/*font-size: 1.3em;*/
}


.pdf-files footer{
	background-color: #82B440;
	color: white;
	padding: 3%;
}
.pdf-files li {

	overflow: hidden;
	position: relative;

	width: 20rem;
	float: left;
	margin-right: 2.5rem;

}

.pdf-files a {
	text-decoration: none;
}

.pdf-files .map-thumb{
	width: 100%;
	height: 20rem;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
	background-size: cover;
}

.content-categories{
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 2% 0%;
}

.index-categories{
	position: relative;
	float: left;
	display: inline-block;
	width: 50%;
	height: 240px;
	color: white;
}

.index-categories:nth-child(1),.index-categories:nth-child(2){
	background-color: #82b440;
}

.index-categories:nth-child(3),.index-categories:nth-child(4){
	background-color: #87a96b;
}




/*CATEGORIAS UNICAS DEL INDEX*/

.index-categories h3 {
	position: relative;
	padding: 1% 0;
	width: 50%;
	background-color: rgba(250,250,250,0.5);
	display: block;
	margin: 3.5% 5% 1% 5%;
	float: right;
	color: #82b440;
	text-align: center;

}


.index-categories p {
	width: 50%;
	display: block;
	float: right;
	margin: 1% 5%

}

.index-categories  a{

	display: block;
	float: left;
	margin-left: 5%;
	margin-top: 3%;

}
.btn-seemore{
	position: relative;
	padding: 6px 1%;
	/*float: left;*/
/*margin-left: 2%;
margin-top: 2%;*/
background-color: #138a4c;
border-radius: 5px;
color: white;
text-transform: uppercase;
}


.index-categories div{
	position: relative;
	background-position: bottom;
	background-size:cover ;

	float: left;
	width: 40%;
	height: 100%;
}

/*_----------------------------------------------------------------
.MAIN-GRID : Grid con todas las categorias para el index
.MAIN-GRID-LESS : Grid con todas las categorias con menos itemes para
el resto de paginas.*/

.main-grid, .main-grid-less{
	position: relative;

	width: 100%;
	height: auto;
	margin: 4% auto;
	color: white;
}

.main-grid a, .main-grid-less a{
	color: white;
}

.main-grid ul {
	position: relative;
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;

}

.main-grid ul li, .main-grid-less ul li{
	background-size: cover;
	background-position: center;
}

.main-grid ul li{
	display: inline-block;
	/*float: left;*/
	position: relative;
	margin-bottom: 15px;
	width: 100%;
	height: 150px;
}

.main-grid ul li a:after, .main-grid-less ul li a:after{
	content: '';
	width: 100%;
	height: 0%;
	position: absolute;
	bottom: 0;
	background-color: #82B440;
	opacity: 0.9;
	-webkit-transition:all 0.2s;
	-moz-transition: all 0.2s;
	transition: 0.2s;

}

.main-grid ul li a:hover:after, .main-grid-less ul li a:hover:after{
	content: '';
	/*width: 100%;*/
	height: 40%;
	position: absolute;


}

.main-grid ul li a, .main-grid-less ul li a{
	display: block;
	width: 100%;
	height: 100%;
}


.main-grid ul li{
	display: inline-table;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
	height: 150px;
}

.main-grid ul li h3, .main-grid-less ul li h3 {
	position: absolute;
	z-index: 500;
	bottom: 5px;
	left: 5px;
	padding: 0 25% 0 0;
}

.main-grid img, .main-grid-less img {
	position: relative;
	width: 100%;
	height: 100%;
}

.main-grid-less ul {
	display: table;
	position: relative;

	margin: 0 auto;
	height: 150px;
}

.main-grid-less ul li{
	display: inline-block;
	position: relative;
	margin: 15px;
	width: 190px;
	height: 150px;
}




.inner-content{
	display: block;
	height: auto;
	margin: 20px auto;
	color: white;

}

.inner-content a{
	color: white;
}

.inner-content ul {
	display: inline-block;
	margin: 0 0;
	width: 100%;

}

.inner-content h3 {
	font-size: 2em;
	color: black;
	margin-bottom: 1%;
	margin-top: 1%;

}

.inner-content p {

	color: black;


}


/*Grid del catalogo, ya sea de hoteles, de comida, de acuerdo al uso
que se le de en cada pagina*/

.catalog-grid {
	margin-top: 3%;
	/*overflow: hidden;*/
/*	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 70px;
	-moz-column-gap: 70px;
	column-gap: 70px;
*/


}
.catalog-grid li{
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 30%;
	margin: 0 1em;
	float: left;
	/*width: 100%;*/
	height: 450px;
	/*overflow: hidden;*/
	padding: 0 0 1rem;

}

.catalog-grid  div {
	position: relative;
	float: left;
	margin: 0px 10px 20px 0px;
	width: 100%;
	height: 70%;
	overflow: hidden;
	background: #ffffff;
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
}

.catalog-grid  div.cg-cover {
	background-size: cover;
}

.catalog-grid div>img{
	width: 100%;

	height: 100%;
	position: relative;
}

/*Etiqueta sobre cada item para ver mas*/

.see-more-label{
	display: block;
	position: absolute;
	margin-right: -115px;
	right: 0px;
	bottom: 0px;
	width: 42.8%;
	height: 10%;
	padding: 5px;

	background-color: #82B440;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	overflow: hidden;
}
.see-more-label h4{

	float: right;
	top: 10px;
	margin-left: 55px;
	position: absolute;
	color: white;


}

.see-more-label:hover{

	right: 110px;
	background-color: #82B440;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
}

.catalog-grid  li p{
	position: relative;
	color: black;
}

.catalog-grid  li p span{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5em;
}

/*Contenido de las paginas informativas, como las de participate
que son de texto mas que todo*/

.inner-info-content {
	position: relative;
	display: inline-block;
	width: 100%;
}
.inner-info-content>h3{

	margin-bottom: 1%;
	text-transform: inherit;
	font-weight: 700;
	margin-top: 3%;
}



.inner-info-content> h4{
	font-weight: 500;
	text-transform: capitalize;
	margin-top: -1%;
}

.inner-info-content p{
	margin-top: 1%;

}


.inner-info-content>a{
	position: relative;
	display: inline-block;
	margin-top: 2%;


}


.inner-info-content h2{
	font-weight: 500;
	font-size: 1.8em;
}

.inner-info-content h2 sup.stars{
	font-family: 'Roboto';
	font-weight: 400;
	color: #82B440;

}

.inner-info-content .meta-info-wrapper {
	margin-top: 1%;
}

.inner-info-content .meta-info {
	color: #82B440;
	font-family: 'Roboto';
	margin-top: 0.3%;
	font-weight: 300;
}

.inner-info-content .meta-info-description {
	color: #000000;
	margin-bottom: 1%;
}

.inner-info-content .meta-info strong {
	font-weight: 400;
}

.inner-info-content .meta-info a {
	color: #82B440;
	font-family: 'Roboto';
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
}

.inner-info-content .meta-info a:hover,
.inner-info-content .meta-info a:active {
	text-decoration: underline;
}

.inner-info-content .meta-info.meta-vertical-links a {
	display: inline-block;
	margin-right: 1.2em;
}

.inner-info-content .meta-info.meta-vertical-links a:last-child {
	margin-right: 0;
}

.inner-info-content .meta-info.meta-info-caps {
	text-transform: uppercase;
}

.contact-details {
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 0%;

}

.contact-details li{
	display: inline-block;
	margin-right: 2%;

}

.contact-details li a{
	color: #82B440;
}

/*Grid para las paginas de informacion de un hotel,
comida, etc en especifico*/

.info-grid{

	position: relative;
	display: inline-block;
	width: 100%;
	height: 430px;
	margin-bottom: 20px;
}

.info-grid div {
	position: relative;
	width: 40%;
	height: 100%;
	float: left;
	background-size: cover;
	background-position: bottom;

}

.info-grid ul{
	position: relative;
	width: 320px;
	float: left;
	margin-left: 8%;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;

}

.info-grid ul li{
	display: inline-block;
	position: relative;
	margin-bottom: 8.5px;
	width: 100%;
	/*height: 150px;	*/
	height: 134.5px;
	background-size: cover;
	background-position: bottom;

}

.info-grid ul li a {
	position: relative;
	width: inherit;
	height: inherit;
}


.side-info{
	position: relative;
	display: inline-block;
	width: 180px;
	height: 100%;
	float: right;



}

.side-info h3{
	font-size: 1em;
	position: absolute;
	color: white;

	bottom: 10px;
	left: 10px;
}

.side-info header{
	position: relative;
	width: 100%;
	height: 33%;
	overflow: hidden;
	background-size: cover;
	background-image: url(../img/square-mapsdirections.jpg);

}

.side-info .features {
	width: 100%;
}


.side-info section{
	position: relative;
	color: white;
	background-color: #82B440;
	height: 65%;
	margin-top: 5%;
	float: left;
}

.side-info section p{
	width: 90%;
	margin-top: 600px;
	position: relative;
	display: block;
	margin: 5% auto;

}


.articles-info {
	height: auto;
	display: block;
}

.articles-info section{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 320px;
	margin-bottom: 5%;

}

.articles-info article{
	position: relative;
	width: 63%;
	height: 100%;
	float: right;
	display: inline-block;
}


.articles-info section article h2{
	position: relative;
	float: right;
	background-color: #82b440;
	width: 99%;
	padding: 1% 0 1% 1%;
	height: 28px;
	color: white;
}

.articles-info section article h3{
	position: relative;
	width: 60%;
	float: left;
	margin-top: 2%;
	margin-left: 1%;
}

/*.articles-info section article p,h3,.btn-seemore{
	margin-left: 1%;
	}*/

	.articles-info section article p{
		position: relative;
		display: inline-block;
		float: left;
		width: 60%;
		margin-top: 2%;
		margin-left: 1%;
	}



	.articles-info .btn-seemore {
		position: absolute;
		float: left;
		bottom: 10%;

		margin-left: 1%;

	}

	.articles-info div{
		float: left;
		width: 35%;
		height: 100%;
		position: relative;
		overflow: hidden;

	}

	.sec-info:first-of-type div:first-child{
		background-image: url(../img/traveltips-thumbnail.jpg);
		background-position: center;
		background-size: cover;
	}

	.articles-info .post-thumbnail {
		background: none no-repeat center center #82B440;
		background-size: cover;
	}

	.articles-info div img{
		height: 100%;
		position: relative;
	}

	.articles-info .info-square{
		position: relative;
		float: right;
		width: 190px;
		height: 140px;
		overflow: hidden;
		background-image: url(../img/square-history.jpg);
		background-size: cover;
	}

	.side-info header.info-square-features {
		background: none #138a4c;
	}

	.articles-info .sec-info:first-of-type .info-square{
		background-image: url(../img/square-mapsdirections.jpg);
		background-size: cover;
	}



	.info-square h4{
		position: absolute;
		color: white;
		float: left;
		bottom: 5%;
		left: 5%;

	}

	footer h1{
		font-size: 2.375em;
		font-weight: bold;
		margin: 0;
	}


.newsletter-form-validate{
	border: solid 2px #FF0000 !important;
}



/*_______________________________-_____*/


/*MOBILE RESPONSIVE*/

/*_______________________________-_____*/



@media only screen and (max-width: 40em) {


.top-text h2{
	font-size: 1.5em;
	text-transform: none;
}
.top-text p{
	font-size: 1.5em;
	font-weight: 200;


}


.content-categories{
	width: 100%;
	height: auto;
}

.index-categories{
	height: auto;
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 5px;
	position: relative;
	padding-bottom: 1em;
}

.index-categories  h3{
	padding: 1% 0%;
	width: 96%;
	margin: 2%;
	float: left;
}



.index-categories  p{
	position: relative;
	width: 100%;
	float: left;
	margin: 0;
	padding: 2% 3%;
	box-sizing: border-box;
}

.index-categories div{
	width: 100%;
	height: 24rem;
	position: relative;


}

.index-categories .btn-seemore{
	float: right;
	margin: 2% 3% 0 0;

}

.main-grid ul{
	position: relative;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;

}


.main-grid ul li{

	height: 165px;

}

/*.main-grid ul li{
width: 100%;
}*/

.main-grid ul li a:after, .main-grid-less ul li a:after{
	display: none;
}

.main-grid-less ul {
	display: inherit;
	position: relative;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	margin: 0;
	height: auto;
}

.main-grid-less ul li{
	position: relative;
	margin: 0px 0px 15px 0px;
	width: 100%;
	height: none;
}


.inner-content ul li{
	margin: 0px 3px 20px 0px;
	width: 48.5%;
	height: 220px;
	float: left;
}


.catalog-grid {
	margin-top: 30px;
	margin-bottom: 0px;
	/*overflow: hidden;*/
	/*-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap:20px;
	-moz-column-gap:20px;
	column-gap:20px;*/
}

.catalog-grid li{
	/*position: relative;
	display: inline-block;
	height: auto;
	margin-bottom: 28px;
	overflow: hidden;*/

	width: 90%;
	height: auto;
	margin-bottom: 2em;

}

.catalog-grid div{
	width: 100%;
	height: 150px;
}

.catalog-grid h3{
	margin-left: 3.5%;
}

.see-more-label{

	margin-right: -34%;
	bottom: 0px;
	height: 18%;
}

.see-more-label h4{
	position: absolute;
	top: 80px;
}


.triangle{
	position: relative;
	width: 20% !important;
	display: block;
}

.see-more-label:hover{
	right: 0px;
}

.catalog-grid div img{
	width: 100%;

	/*height: 100%;*/
	position: relative;
}

.catalog-grid ul li h3{

	font-size: 13em;
	margin-left: 0px;
}

.info-grid {
	display: block;
	height: auto;
}

.info-grid div {
	display: none;

}

.info-grid ul{
	margin-left: 0px;
	width: 100%;
}

.info-grid ul li{
	height: 150px;
}



.contact-details{
	margin:15px 0px 15px 3.5%;
}


.inner-info-content h1,h2,h3,h4,p{
	width: 93%;
}

.inner-info-content h2{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.inner-info-content>h3{
	margin: 20px auto;
	display: block;

	font-size: 1.3em;

}



.inner-info-content h4{

	display: block;
	margin: 3% auto;
}



.inner-info-content>a{

	width: 40%;
	text-align: center;
	margin: 3% 3.5% 10% 3.5%;
}

.inner-info-content p{

	display: block;
	margin: 0 auto;

}

.side-info header{
	position: relative;
	width: 100%;
	height: 100px;

	text-align: center;
	float: left;
}

.side-info h3{
	bottom: 25%;
}

.inner-info-content .meta-info-wrapper {
	margin: 2%;
}

.inner-info-content .meta-info.meta-vertical-links a {
	display: block;
	width: 100%;
}


.side-info{
	position: relative;
	width: 100%;
	height: auto;
	float: none;


}

.side-info section{
	height: auto;
	margin-bottom: 15px;
}


.pdf-files  {
	position: relative;
	margin-bottom: 3%;
	margin-top: 3%;
}

.pdf-files li  {
	margin-bottom: 20px;
}

.articles-info section{
	height: auto;
	margin-top: 30px;
}

.articles-info .btn-seemore {
	position: relative;
	display: block;
	margin: 20px auto 0 auto;
	width: 50%;
	text-align: center;
	float: none;
}

.articles-info div{
	width: 100%;
	height: 100px;
	overflow: hidden;
}


.articles-info article {
	width: 100%;
}

.articles-info section article h2{
	position: relative;
	width: 93%;
	float: none;
	padding: 2% 3.5%;

}

.articles-info section article h3{

	width: 93%;

	float: none;
	font-size: 0.9em;
	margin: 10px auto;
}

.articles-info section article p{

	display: block;
	margin: 0 auto;
	float: none;
	width: 93%;

}



.articles-info .info-square{
	/*display: inline-block;*/
	float: left;
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 80px;
	text-align: center;
	background-size: cover;
	background-position: left;


}


.info-square h4{
	position: relative;
	left: 0px;
	top:40%;
	width: 100%;



}

.pagination {
	text-align: center !important;
}



} /*END MEDIA QUERY*/









/*_______________________________-_____*/


/*TABLET RESPONSIVE*/

/*_______________________________-_____*/





@media only screen and (min-width: 40.063em) and (max-width: 64em) {


	.top-text h2{
		font-size: 1.5em;
		text-transform: none;
	}
	.top-text p{
		font-size: 1.5em;
		font-weight: 200;


	}


	.content-categories{
		width: 100%;
		height: auto;
	}

	.index-categories{
		height: 230px;
		width: 100%;
		display: block;
		float: left;
		margin-bottom: 10px;
		position: relative;
	}

	.index-categories  h3{

		padding: 1% 0%;
		width: 55%;
		height: 10%;
		background-color: rgba(250,250,250,0.5);
		display: block;
		margin: 1% 0% 1% 2.5%;
		float: left;
		color: #82b440;
		text-align: center;

	}



	.index-categories  p{
		position: relative;
		width: 50%;
		display: block;


		float: left;
		/*margin: 0 auto;*/

	}



	.index-categories>.btn-seemore{
		float: left;
		margin-left: 5%;
		margin-top: 2%;

	}

	.main-grid ul{
		position: relative;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;

	}

	.main-grid ul li a:after, .main-grid-less ul li:after{
		display: none;
	}

	.main-grid ul li{
		width: 100%;
	}

	.main-grid-less ul{

		display: table;
		margin: 0 auto;
	}

	.main-grid-less ul li{
		margin: 15px 10px;
	}

/*	.main-grid-less ul {
	padding: 0 3%;
display: inherit;
position: relative;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
margin: 0;
height: auto;
}*/
/*
.main-grid-less ul li{
position: relative;
margin: 0px 0px 15px 0px;
width: 100%;
height: none;
}*/


.inner-content ul li{
	margin: 0px 3px 20px 0px;
	width: 48.5%;
	height: 220px;
	float: left;
}


.catalog-grid {
	margin-top: 30px;
	margin-bottom: 0px;
	/*overflow: hidden;*/
/*	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap:20px;
	-moz-column-gap:20px;
	column-gap:20px;
*/}

.catalog-grid li{
	/*position: relative;
	display: inline-block;
	height: auto;
	margin-bottom: 28px;
	overflow: hidden;*/

	width: 44%;
	/*height: auto;*/
	height: 280px;
	margin-bottom: 2em;

}

.catalog-grid div{
	width: 100%;
	height: 180px;
}

.catalog-grid h3{
	/*margin-left: 3.5%;*/
}

.articles-info section article a{
	position: relative !important;
	margin: 1.5rem 0 !important;
}

.see-more-label{

	margin-right: -30%;
	bottom: 0px;
	height: 20%;
}

.see-more-label h4{
	position: absolute;
	top: 80px;
}

.triangle{
	position: relative;
	width: 20% !important;
	display: block;
}

.see-more-label:hover{
	right: 0px;
}

.catalog-grid div img{
	width: 100%;

	/*height: 100%;*/
	position: relative;
}

.catalog-grid ul li h3{

	font-size: 13em;
	margin-left: 0px;
}

.info-grid div {
	display: none;

}

.info-grid ul{
	margin-left: 0px;
	width: 100%;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

.info-grid ul li{
	height: 150px;
}

.inner-info-content h1,h2,h3,h4,p{
	width: 100%;
}

.inner-info-content h2{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.inner-info-content>h3{
	margin: 20px auto;
	display: block;

	font-size: 1.3em;

}



.inner-info-content h4{

	display: block;
	margin: 3% auto;
}



.inner-info-content>a{

	width: 40%;
	text-align: center;
	margin: 3% 3.5% 10% 3.5%;
}

.inner-info-content p{

	display: block;
	margin: 0 auto;

}

.side-info header{
	position: relative;
	width: 100%;
	height: 100px;
	float: left;
	margin-top: 35px;
}




.side-info{
	position: relative;
	width: 100%;
	height: auto;
	float: none;


}

.side-info section{
	height: auto;
	margin-top: 15px;
	margin-bottom: 35px;
}


.pdf-files  {
	position: relative;
	margin-bottom: 3%;
	margin-top: 3%;
	overflow: hidden;
}

.pdf-files li  {
	margin-bottom: 20px;
}

.pdf-files div>img{
	width: 100%;
	display: block;
}


.articles-info section{
	height: auto;
}

.articles-info div{
	width: 100%;
	height: 100px;
	overflow: hidden;
}


.articles-info div img{
	position: absolute;
	width: 100%;
	height: 400px;
	top: -80px;
}

.articles-info article {
	width: 100%;
}

.articles-info section article h2
{
	position: relative;
	width: 93%;
	float: none;
	padding: 2% 3.5%;

}

.articles-info section article h3{

	width: 93%;
	display: block;
	float: none;
	font-size: 0.9em;
	margin: 10px auto;
}

.articles-info section article p{

	display: block;
	margin: 0 auto;
	float: none;
	width: 93%;

}

.articles-info section article a{
	position: relative;
	width: 50%;
	display: block;
	margin: 4% auto;
	float: none;
	text-align: center;

}

.articles-info .info-square{
	position: relative;
	float: none;
	margin-top: 3%;
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-size: cover;
	background-position: left;
}

.info-square img{
	width: 100%;

	height: 300px;
}

.info-square h4{
	float: left;
	bottom: 28%;


}

.pagination {
	text-align: center !important;
	margin: 0 0 3rem !important;
}


} /*end media query*/


/* emi */

.more-posts {

	text-align: center;

}

.more-posts a {

	color: #ffffff;
	background: #138a4c;

	padding: 1% 10%;

}

.main-header .post-header-label {

	min-width: 400px;
	max-width: 500px;

}

.main-header .post-header-label h1 {
		text-transform: none;
}

.main-header .post-header-label p {
	margin-top: 0.5em;
}

.pagination {
	text-align: right;
	margin-bottom: 1em;
}

.pagination a {
	
	display: inline-block;

	color: #82B440;
	font-family: 'Roboto';
	font-weight: 400;

	background: #138a4c;
    padding: 0.75em 1.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
	font-size: 1.1em;
	margin: 0 0.5em;

}

.pagination a:last-child {
	margin-right: 0;
}

.pagination a:first-child {
	margin-left: 0;
}

.gallery-image-selector {
	cursor: pointer;
}

.mv-lang-sel {
	position: absolute;
    top: 5.8%;
    left: 2%;
    z-index: 999;
}
