.inner-info-content > a.btn-book-now {

	@media #{$mobile} {
		display: block;
		width: auto;
		padding: 1em;
	}

}

.book-now-form {

	padding: 3%;

	@media #{$mobile} {
		padding: 5% 3%;
	}

	.fieldset {

		@include clearfix;

		margin: 0 0 1.5rem 0;

		@media #{$mobile} {
			margin: 0;
		}

		p {

			box-sizing: border-box;
			text-align: center;
			width: 65%;
			margin: 0 auto 1em auto;

			@media #{$mobile} {
				width: 85%;
				margin-bottom: 1.2em;
			}

		}

	}

	.field, .lone-field {

		float: left;

		@media #{$mobile} {
			float: none;
		}

	}

	.field {

		width: 45%;
		width: calc(50% - 2.5rem);
		max-width: 500px;

		@media #{$mobile} {
			width: 100%;
			max-width: none;
			margin: 0 0 2rem 0;
		}

	}

	.lone-field {
		width: 100%;
		text-align: center;

		margin-top: 1.5em;

		label {
			text-align: center;
			margin-bottom: 0.35em;
		}
	}

	.select-stream {
		select {
			margin-right: 1em;

			&:last-child {
				margin-right: 0;
			}

			@media #{$mobile} {
				margin-right: 0;
				width: 100%;
				margin-bottom: 1.5em;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	input[type=text],
	input[type=number],
	input[type=email],
	textarea {

		box-sizing: border-box;

		background: #e4eadb;
		border: 1px solid #d1dad6;
		padding: 0.35em;
		font-size: 0.9em;

		&.field-error {
			border-color: #c00000;
			background-color: #ffe5e5;
		}

	}

	input[type=text],
	input[type=number],
	input[type=email] {

		width: 50%;

		@media #{$mobile} {
			width: 100%;
		}

	}

	textarea {

		width: 40%;
		height: 6.5em;

		@media #{$mobile} {
			width: 100%;
		}

	}

	label {

		display: inline-block;
		width: 48%;
		width: calc(50% - 1em);

		text-align: right;

		@media #{$mobile} {
			width: auto;
			display: block;
			text-align: left;
			margin: 0 0 0.35em 0;
		}

	}

	.dual-field {

		input[type=text],
		input[type=number],
		input[type=email] {

			width: 15%;

			@media #{$mobile} {
				width: 100%;
			}

		}

		label.last-label {

			width: 20%;
			width: calc(20% - 0.5em);

			@media #{$mobile} {
				margin-top: 2rem;
			}

		}

	}

}
