.main-container {

	max-width: 1280px;
	width: 90%;

	background-color: white;
	display: block;
	margin: 3% auto 3% auto;
	height: auto;

	@media #{$tablet} {
		max-width: 960px;
		width: 90%;
	}

	@media #{$mobile} {
		max-width: none;
		width: 100%;
	}

}

// Ugly fixes!

body .main-header .post-header-label {

	@media #{$mobile} {
		max-width: none;
		min-width: 0;
		left: 0.5rem;
		width: 98%;
		width: calc(100% - 1rem);
	}

}

.inner-info-content .btn-back {

	@media #{$mobile} {
		display: block;
		width: auto;
		padding: 1em;
		margin-top: 2em;
	}

}

.section-title {

	margin-bottom: 1em;

}

.place-title-and-thumb {

	@include clearfix;
	position: relative;

	.place-thumb {

		float: left;
		width: 4em;
		height: 4em;
		margin-right: 0.35em;
		background-repeat: no-repeat;
		background-position: center center;
		// background-color: $mv-lgreen;
		background-color: #ffffff;
		background-size: contain;

		@media #{$mobile} {
			position: absolute;
			right: 0;
			top: 0;
		}

	}

	.inner-info-content & h2 {

		margin-top: 0.6em;

		@media #{$mobile} {
			margin: 0 0 0 0.35em;
			padding-right: 4.35em;
		}

	}

}

.see-more-area {

	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0);

	text-decoration: none;

	transition: background 0.3s;

	.see-more-legend {

		display: block;
		position: absolute;

		transition: opacity 0.3s, right 0.6s;
		opacity: 0;
		bottom: 0;
		right: -100%;

		text-align: center;

		span {
			display: inline-block;
			padding: 0.65em 1.4em;
			background: $mv-lgreen;
			color: #ffffff;
			text-transform: uppercase;
		}

		.see-more-arrow {
			height: 0.9em;
			position: relative;
			top: 0.1em;
			margin-right: 0.35em;

			@media #{$mobile} {
				display: none;
			}
		}

	}

	&:hover {

		background: rgba(0, 0, 0, 0.15);

		.see-more-legend {
			opacity: 1;
			right: 0;
		}

	}

}

img.photo {

	box-sizing: border-box;
	width: 100%;

}

/* Place filters */

.place-filters {

	text-align: right;
	margin: 1em 0;

	@media #{$mobile} {
		padding: 0 3%;
	}

	label, button {
		text-transform: uppercase;
	}

	label {
		font-size: 0.9em;
	}

	select, button {

		@media #{$mobile} {
			width: 100%;
			font-size: 1.2em;
		}

	}

	select {

		@media #{$mobile} {
			padding: 1em;
		}

	}

	button {

		@media #{$non-mobile} {

			appearance: none;
			padding: 6px 1%;
			background-color: #138a4c;
			border: none;
			color: white;
			text-transform: uppercase;

		}

	}

	@media #{$non-desktop} {

		text-align: left;

	}

	.break {

		display: none;

		@media #{$mobile} {

			display: block;
			margin-bottom: 0.35em;

		}

	}

}

/* Not found (places, etc) */

.not-found-criteria {

	margin: 1em 0 5em 0;

	p {
		padding: 3%;
		text-align: center;
		font-style: italic;
	}

}

/* Misc */

.act-7600-info {
	font-size: 0.9em;
	font-style: italic;
	
	img {
		height: 1.8em;
		position: relative;
		top: 0.4em;
		margin-right: 0.35em;
	}
}
