.main-footer {

	@include clearfix;

	background: $mv-lgreen;
	color: #ffffff;

	@media #{$mobile} {

		text-align: center;
		background: #ffffff;

	}

	a {
		color: inherit;
	}

	p, li {
		font-size: 0.925em;
		line-height: 1.4em;

		@media #{$mobile} {
			font-size: 1em;
		}
	}

	p, ul {
		margin: 0;
		margin-bottom: 0.5em;
	}

	h4 {
		font-size: 2.2em;
		margin: 0;
		margin-bottom: 0.35em;

		@media #{$tablet} {
			font-size: 2rem;
		}

	}

	ul {
		padding: 0;
		list-style: none;
	}

	.us, .newsletter {
		width: 40%;
		width: calc(50% - 8.5rem);
		min-height: 18rem;
		margin: 2rem 0;

		@media #{$tablet} {
			width: calc(50% - 4.25rem);
		}

		@media #{$mobile} {
			box-sizing: border-box;
			width: 100%;
		}
	}

	.us {
		float: left;
		margin-left: 8rem;

		@media #{$tablet} {
			margin-left: 4rem;
		}

		@media #{$mobile} {
			float: none;
			margin: 0;
			margin-bottom: 2rem;
			padding: 2rem;
			background: $mv-lgreen;
		}
	}

	.newsletter {
		float: right;
		margin-right: 8rem;

		@media #{$tablet} {
			margin-right: 4rem;
		}

		@media #{$mobile} {
			float: none;
			margin: 0;
			padding: 2rem;
			color: #000000;
			background: #ffffff;
		}
	}

	.newsletter-form {

		@include clearfix;

		.newsletter-field {

			float: left;
			font-size: 0.85em;

			margin-right: 1.25em;

			@media #{$non-desktop} {
				float: none;
				margin: 1em 0 0 0;
				width: 100%;
			}

			label {
				display: block;
			}

			input[type=text],
			input[type=password],
			input[type=email] {

				appearance: none;
				border: solid 2px #cee467;
				background: #ffffff;
				color: $mv-lgreen;
				padding: 0.35em;
				font-size: 1em;
				margin-top: 0.5em;

				transition: border 0.3s;

				@media #{$non-desktop} {

					width: 80%;

				}

				&:hover,
				&:focus {
					border-color: #138a4c;
					outline: none;
				}

				&.v-invalid {
					border-color: #c00000;
					background-color: #ffe5e5;

					&:hover,
					&:focus {
						border-color: #c00000;
						outline: none;
					}
				}

			}

		}

		.newsletter-submit {

			padding-top: 1.4em;
			margin-right: 0;

			> button {

				cursor: pointer;
				appearance: none;
				border: none;
				background: $mv-dgreen;
				color: #ffffff;
				font-size: 0.95em;
				font-weight: bold;
				padding: 1rem;

				@media #{$mobile} {
					width: 80%;
					border-radius: 0.8rem;
				}

				&:hover {
					background: #19432d;
				}

			}

		}

	}

	.social-channels {

		margin: 2rem 0;

		> li {

			display: inline-block;
			margin-right: 0.25em;

			@media #{$tablet} {
				margin-right: 0.5em;
				zoom: 1.12;
			}

			@media #{$mobile} {
				margin-right: 1em;
				zoom: 1.25;
			}

		}

	}

	.social-icon {
		display: block;
		width: 34px;
		height: 34px;
		background: url(../../img/social-media-icons.png);
		transition: all 0.3s;
	}

	.facebook {
		background-position: 0 0;

		&:hover {
			background-position: 0 -39px;
		}
	}
	.twitter {
		background-position: -41px 0;

		&:hover {
			background-position: -41px -39px;
		}
	}
	.gplus {
		background-position: -82px 0;

		&:hover {
			background-position: -82px -39px;
		}
	}
	.pinterest {
		background-position: -123px 0;

		&:hover {
			background-position: -123px -39px;
		}
	}
	.instagram {
		background-position: -163px 0;

		&:hover {
			background-position: -163px -39px;
		}
	}

	.back-to-top-mobile {

		display: none;

		text-align: center;
		padding: 1rem;
		margin: 2.5rem 0;
		font-size: 1.2em;
		font-weight: 600;

		@media #{$mobile} {
			display: block;
		}

		> a {

			text-transform: uppercase;
			color: #bbbbbb;
			text-decoration: none;

			margin-top: -0.6em;

			> i {

				position: relative;
				top: 0.6em;

				display: inline-block;
				width: 2em;
				height: 2em;
				background: url('../../img/back-to-top.png') no-repeat center;
				background-size: contain;

			}

		}

	}

}

.footer-minilinks {
	@include clearfix;

	background: $mv-lgreen;
	color: #ffffff;
	border-top: 1px solid lighten($mv-lgreen, 10%);
	padding: 0.5em 0;

	font-size: 0.85em;
	text-align: center;

	@media #{$mobile} {
		font-size: 1em;
	}

	a {
		color: inherit
	}
}
