.main-header {

	position: relative;
	top: 0;

	width: 100%;
	height: 64rem;

	max-height: 95vh;
	min-height: 50vh;

	margin: 0 auto;

	background: none no-repeat center rgba(0, 0, 0, 0.5);
	background-size: cover;
	overflow: hidden;

	&.main-header-home {

		min-height: 64rem;
		height: 64rem;
		
		h1 {
			direction: ltr;
			text-indent: -99999px;
			height: 0;
		}
		
		.em-logo {
			bottom: 10rem;
		}

	}

	@media #{$tablet} {

		height: 22rem;

		&.main-header-home {

			height: 44rem;

		}

	}

	@media #{$mobile} {

		height: 16rem;

		&.main-header-home {

			height: 32rem;

		}

	}

	> h1 {

		position: absolute;
		bottom: 10rem;
		z-index: 10;

		width: 90%;
		width: calc(100% - 5rem);

		margin: 0 2.5rem;

		text-align: center;
		font-size: 4rem;
		text-shadow: 2px 2px 2px #1f1f1f;

		color: #ffffff;

		@media #{$tablet} {

			font-size: 3rem;

		}

		@media #{$mobile} {

			font-size: 2rem;

		}

	}

	.em-logo {
		position: absolute;
		bottom: 16rem;
		bottom: calc(10rem + 3.75em);
		left: 20%;
		width: 60%;
		height: 12rem;
		background: url('../../img/logo-em.png') no-repeat center center transparent;
		background-size: contain;
		z-index: 15;

		@media #{$mobile} {
			bottom: 14rem;
			bottom: calc(10rem + 2.75em);
		}
	}

	.header-label {

		position: absolute;
		bottom: 2.5rem;
		left: 2.5rem;
		z-index: 10;

		min-width: 20%;
		max-width: 25%;
		height: auto;

		padding: 1rem;

		background-color: $mv-lgreen;
		color: #ffffff;

		@media #{$non-desktop} {

			box-sizing: border-box;

			display: block;

			left: 2.5rem;

			width: 90%;
			width: calc(100% - 5rem);
			min-width: 0;
			max-width: none;

			margin: 0;
			padding: 0.5rem;

		}

		@media #{$mobile} {

			padding: 1rem;

		}

		h1 {

			font-weight: 200;

		}

	}

}
