/* Desktop */

.main-nav {

	position: absolute;
	top: 3rem;
	right: 2.5rem;

}

.lang-nav {

	position: absolute;
	top: 3rem;
	left: 2.5rem;

}

.main-nav, .lang-nav {

	height: auto;
	background: #82b440;
	z-index: 100;

	@media #{$non-desktop} {
		display: none;
	}

	/* General */

	ul > li {

		display: inline-block;

		a {

			display: inline-block;

			padding: 1rem 1.5rem;

			text-transform: uppercase;
			text-decoration: none;

			transition: all .4s;

		}

	}

	/* Root */

	> ul > li {

		> a {

			color: #ffffff;

		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a,
		> a:hover {

			background: $mv-hgreen;

		}

		/* Submenu */

		> ul {

			display: none;
			overflow: hidden;
			z-index: 101;

			position: absolute;
			top: 100%;

			background: #ffffff;

			> li {

				display:list-item;

				position: relative;

				padding: 0.25rem;

				border-bottom: 1px dashed #000000;

				&:last-child {

					border-bottom: none;

				}

				> a {

					box-sizing: border-box;

					position: relative;
					width: 100%;

					color: #000000;

				}

				&.current-menu-item > a,
				&.current-menu-ancestor > a,
				> a:hover {

					color: #ffffff;
					background: $mv-hgreen;

				}


			}

		}

		&:hover > ul {

			display:block;

			width: auto;

		}

	}

	.social-icon-wrapper {

		&:last-child {
			padding-right: 1.25rem;
		}

		.social-icon {

			position: relative;
			background-color: transparent !important;

			padding: 1rem 0;
			width: 1.2em;

			i {
				display: inline-block;
				background-image: none;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;

				width: 100%;
				height: 100%;

				position: absolute;
				top: 0.2em;
			}

			&.facebook i {
				background-image: url('../../img/smi-facebook.png');
			}

			&.twitter i {
				background-image: url('../../img/smi-twitter.png');
			}

			&.gplus i {
				background-image: url('../../img/smi-gplus.png');
			}

			&.pinterest i {
				background-image: url('../../img/smi-pinterest.png');
			}

			&.instagram i {
				background-image: url('../../img/smi-instagram.png');
			}

		}

	}

}

/* Mobile */

body {
	@media #{$non-desktop} {
		overflow-x: hidden;
	}
}

.mobile-menu {

	display: none;

	@media #{$non-desktop} {

		display: block;

		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: -70%;
		z-index: 9999;

		width: 65%;
		height: 100%;

		background: $mv-lgreen;
		box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);

		list-style: none;

		transition: left 0.3s;

		&.mobile-menu-open {

			display: block;
			overflow-y: auto;

			left: 0;

			transition: left 0.3s;

		}

		li {

			position: relative;

			color: #ffffff;

			> a {

				position: relative;

				display: block;
				width: 100%;

				padding: 2rem 1rem;

				color: #ffffff;
				text-decoration: none;
				text-transform: uppercase;

			}

			> ul {
				display: none;
			}

			&:after {

				content: '';

				position: absolute;
				bottom: 0;
				left: 1rem;
				right: 1rem;

				display: block;
				height: 1px;

				background-color: rgba(0, 0, 0, 0.1);

			}

			&:last-child:after {
				display: none;
			}

		}

	}

}

label[for="nav-trigger"] {

	display: none;

	@media #{$non-desktop} {

		position: fixed;
		top: 1.5rem;
		left: 1.5rem;
		z-index: 150;

		display: block;
		width: 2.5rem;
		height: 2.5rem;

		cursor: pointer;

		background-color: rgba(0, 0, 0, 0.5);
		background-image: url("#{$dataurl-mobile-hamburger}");
		background-size: contain;

		outline: 0.2rem solid rgba(0, 0, 0, 0.5);

	}

}

.nav-trigger {

	display: none;

	@media #{$non-desktop} {

		display: block;

		position: absolute;

		clip: rect(0, 0, 0, 0);

		& + label {
			transition: all 0.3s;
		}

		&:checked + label {
			left: 90%;
		}

	}

}