.slide-selector {

	position: absolute;
	left: 50%;
	bottom: 2.5rem;
	z-index: 999;

	padding: 0.6rem;
	margin-left: 0;

	border-radius: 2rem;

	background: #ffffff;
	opacity: 0.3;

	cursor: pointer;

}

.slide-selector:hover {
	opacity: 1;
}

.slide-control {
	display: none;
}


.slides-container {

	position: relative;
	top: 0;
	left: 0;
	z-index: 1;

	width: 0;
	height: 100%;
	overflow-y: hidden;

	transition: all 0.3s ease-in-out;

}

.slide {

	float: left;

	position: relative;
	width: 0;
	height: 100%;

	background-size: cover;
	background-position: bottom;

	> .slide-text {

		display: block;

		width: 60%;

		margin: 0 auto;
		margin-top: 28rem;

		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 2.2rem;
		line-height: 1.2em;
		text-align: center;
		text-shadow: 2px 1.3px 1.5px black;

		color: #ffffff;

		@media #{$tablet} {

			font-size: 2.5rem;

			margin-top: 20rem;

		}

		@media #{$mobile} {

			font-size: 2.3rem;

			margin-top: 12rem;

		}

	}

}
