$mv-dgreen: #138a4c;
$mv-lgreen: #82b440;
$mv-hgreen: #abcf6e;

$mobile: 'only screen and (max-width: 640px)';
$tablet: 'only screen and (min-width: 641px) and (max-width: 1024px)';
$desktop: 'only screen and (min-width: 1025px)';

$non-mobile: 'only screen and (min-width: 641px)';
$non-desktop: 'only screen and (max-width: 1024px)';

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

@import 'modules/dataurls';
@import 'modules/mixins';
@import 'modules/defaults';
@import 'modules/header';
@import 'modules/nav';
@import 'modules/slideshow';
@import 'modules/content';
@import 'modules/book-now';
@import 'modules/footer';

@media #{$non-desktop} {
	html.Monteverde {
		margin-top: 0 !important;
	}

	#wpadminbar {
		display: none;
	}
}